apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql
  template:
    metadata:
      labels:
        app: mssql
    spec:
      containers:
        - name: mssql
          image: mcr.microsoft.com/mssql/server:2022-latest
          ports:
            - containerPort: 1433
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mssql-secret
                  key: SA_PASSWORD
          resources:
            requests:
              memory: "2Gi"
              cpu: "500m"
              ephemeral-storage: "1Gi"
            limits:
              ephemeral-storage: "1Gi"
          volumeMounts:
            - name: mssql-storage
              mountPath: /var/opt/mssql
          securityContext:
            runAsUser: 0
      volumes:
        - name: mssql-storage
          persistentVolumeClaim:
            claimName: mssql-pvc
