@model List<InventoryApp.Core.Models.ApplicationUser>
@{
    ViewData["Title"] = "Force Logout";
}

<h2 class="my-4">Force Logout</h2>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <form asp-action="ForceLogout" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button class="btn btn-warning btn-sm">Force Logout</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
